.App {
  text-align: center;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

hr {margin: 0}

table {
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #e7e5e5;;
}

td {
  border-left: 1px solid rgb(201, 199, 199);
}

th {
  padding: 15px;
  border-left: 1px solid rgb(201, 199, 199);
  border-bottom: 0;
  border-top: 0;
}

input {
  text-align: right;
  padding: 4px;
  border-radius: 3px;
  border: 1px solid rgb(194, 188, 188);
}

.theadAtivos {
  background: #e7e5e5;
}

.thNomes {
  padding-right: 500px;
  text-align: left;
  font-weight: normal;
  font-size: 15px;
}

.thInvestimento {
  text-align: center;
}

.spanRestante {
  float: right;
  padding-top: 3px;
  padding-right: 18px;
  font-weight: normal;
  font-size: 13.4px
}

.pMaxima {
  color: #ff0000;
}

.inputPorcentagem {
  max-width: 60px;
}

.btnAdd {
  background-color: #dfeaff;
  border: 0;
  border-radius: 4px;
  margin-top: 10px;
  width: 100%;
  color: #00769d;
  font-size: 15px;
  padding: 5px 10px;
  text-align: left;
  cursor: pointer;
}

.btnAdd img {
  vertical-align: middle;
}

.btnAdd:hover {
  background-color:#d1e0fc;
  border: 1px solid #dbe0e9;
}

.btnAddPortfolio {
  background-color: #fafafa;
  border: 0;
  float: center;
  padding: 0;
  cursor: pointer;
  border-radius: 20px 20px 0 0;
}

.btnAddPortfolio:hover {
  background-color: #e2e2e2;
}

.btnRemove {
  cursor: pointer;
}

.tdNomes {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 15px;
}

.tdValor {
  text-align: center;
  float: center;
}

.tdValorPorcento {
  padding-left: 10px;
  padding-right: 10px;
}

.tdRemove{
  text-align: center;
}